#facebox .b {
  background:url(https://lh5.googleusercontent.com/-a_UHnP91OMk/VI1-1poF70I/AAAAAAAAAEc/MSDarNM5Ut4/h120/b.png);
}

#facebox .tl {
  background:url(https://lh4.googleusercontent.com/-ZgabxPBBEyo/VI1-3XaxaQI/AAAAAAAAAEw/_yamtYJpTvM/h120/tl.png);
}

#facebox .tr {
  background:url(https://lh6.googleusercontent.com/-Vj-NNy-o00k/VI1_gel77XI/AAAAAAAAAFE/uKt2G9FN2nc/h120/tr.png);
}

#facebox .bl {
  background:url(https://lh3.googleusercontent.com/-wOSSonhaBSE/VI1-1jSHiMI/AAAAAAAAAEY/rAK6do3DbQQ/h120/bl.png);
}

#facebox .br {
  background:url(https://lh3.googleusercontent.com/-jZ1bpZ2gEw0/VI1-1ZMIyoI/AAAAAAAAAEU/Ci6j-q6Ii-o/h120/br.png);
}

#facebox {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}

#facebox .popup {
  position: relative;
}

#facebox table {
  margin: auto;
  border-collapse: collapse;
}

#facebox .body {
  padding: 10px;
  background: #fff;
  width: 370px;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
}

#facebox .footer {
  border-top: 1px solid #DDDDDD;
  padding-top: 5px;
  margin-top: 10px;
  text-align: right;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}
